logs/*
!.gitkeep
*node_modules/
*bower_components/
tmp
.DS_Store
.idea

# temp files for text editors
*~
# paper for crawlers
~/

# compiled files
*.pyc

# for the unity project
*Temp/
*Library/

# visual studio


